# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración local
.env
*.sqlite3

# Archivos de VS Code
.vscode/
*.code-workspace

# Archivos de sistema
.DS_Store
Thumbs.db
